<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @local.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @local.address %>
</p>

<p>
  <strong>Distrit:</strong>
  <%= @local.distrit %>
</p>

<p>
  <strong>User:</strong>
  <%= @local.user %>
</p>

<%= link_to 'Edit', edit_local_path(@local) %> |
<%= link_to 'Back', locals_path %>
